<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <title>OpenCV.js Face Detection</title>
</head>

<body>
    <video  width="640" height="480" id="video" style="display:none"></video>
    <canvas width="640" height="480" id="outputCanvas"></canvas>
    <script src="/static/opencv/face.js"></script>
    <script async src="/static/opencv/opencv.js"></script>
</body>
    <audio id="bgMusic1">
        <source src="../static/audios/blink.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic2">
        <source src="../static/audios/open_mouth.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic3">
        <source src="../static/audios/smile.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic4">
        <source src="../static/audios/rise_head.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic5">
        <source src="../static/audios/bow_head.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic6">
        <source src="../static/audios/look_left.mp3" type="audio/mp3">
    </audio>
    <audio id="bgMusic7">
        <source src="../static/audios/look_right.mp3" type="audio/mp3">
    </audio>

</html>
